<a href="https://colab.research.google.com/github/sprabhala-cpu/Machine-Learning/blob/main/combining_all_kam_into_1_csv_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import glob 
import pandas as pd

files_2004 = sorted(glob.glob('/content/drive/MyDrive/data/2004/T*.*'))
df1 = []
for file in files_2004:
    column_name = pd.read_csv(file,index_col=False).columns[0]
    df = pd.read_csv(file,index_col=False,names=["col1","col2"],skiprows=1)
    df["col3"] = column_name
    df1.append(df)
df = pd.concat(df1)

In [ ]:
df.to_csv('/content/drive/MyDrive/data/2004.csv')

In [ ]:
demo=pd.read_csv("/content/drive/MyDrive/data/2004.csv")

In [ ]:
demo.shape

In [ ]:

files_2005 = sorted(glob.glob('/content/drive/MyDrive/data/2005/T*.*'))
df2 = []
for file in files_2005:
    column_name = pd.read_csv(file,index_col=False).columns[0]
    df_2005 = pd.read_csv(file,index_col=False,names=["col1","col2"],skiprows=1)
    df_2005["col3"] = column_name
    df2.append(df_2005)
df_2005 = pd.concat(df2)

In [16]:
df_2005.to_csv('/content/drive/MyDrive/data/2005.csv')

In [17]:
demo=pd.read_csv("/content/drive/MyDrive/data/2005.csv")

In [18]:
demo.shape

(1576740, 4)

In [19]:
demo.head(5)

   Unnamed: 0  ...                              col3
0           0  ...  23:59:00.00\t3/31/05\t\t\t\t\t\t
1           1  ...  23:59:00.00\t3/31/05\t\t\t\t\t\t
2           2  ...  23:59:00.00\t3/31/05\t\t\t\t\t\t
3           3  ...  23:59:00.00\t3/31/05\t\t\t\t\t\t
4           4  ...  23:59:00.00\t3/31/05\t\t\t\t\t\t

[5 rows x 4 columns]

In [20]:
files_2006 = sorted(glob.glob('/content/drive/MyDrive/data/2006/T*.*'))
df3 = []
for file in files_2006:
    column_name = pd.read_csv(file,index_col=False).columns[0]
    df_2006 = pd.read_csv(file,index_col=False,names=["col1","col2"],skiprows=1)
    df_2006["col3"] = column_name
    df3.append(df_2006)
df_2006 = pd.concat(df3)

In [22]:
df_2006.to_csv('/content/drive/MyDrive/data/2006.csv')

In [23]:
demo=pd.read_csv('/content/drive/MyDrive/data/2006.csv')

In [24]:
demo.shape

(1576800, 4)

In [25]:
files_2007 = sorted(glob.glob('/content/drive/MyDrive/data/2007/T*.*'))
df4 = []
for file in files_2007:
    column_name = pd.read_csv(file,index_col=False).columns[0]
    df_2007 = pd.read_csv(file,index_col=False,names=["col1","col2"],skiprows=1)
    df_2007["col3"] = column_name
    df4.append(df_2007)
df_2007 = pd.concat(df4)

In [26]:
df_2007.to_csv('/content/drive/MyDrive/data/2007.csv')

In [1]:
columns=['Ampl, Re  (NWC)','phase, Re (NWC)','Ampl, Re  (NPM)','phase, Re (NPM)','Ampl, Re  (JJI)','phase, Re (JJI)','Ampl, Re  (JJY)',' phase, Re (JJY)','Date']

In [3]:
import pandas as pd
data_2004=pd.read_csv('/content/drive/MyDrive/cleaned_data/drive-download-20210425T054143Z-001/2004.csv',header=None,names=columns)
data_2005=pd.read_csv('/content/drive/MyDrive/cleaned_data/drive-download-20210425T054143Z-001/2005.csv',header=None,names=columns)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data_2006=pd.read_csv('/content/drive/MyDrive/cleaned_data/drive-download-20210425T054143Z-001/2006.csv',header=None,names=columns)
data_2007=pd.read_csv('/content/drive/MyDrive/cleaned_data/drive-download-20210425T054143Z-001/2007.csv',header=None,names=columns)

In [5]:
data=pd.concat([data_2004,data_2005,data_2006,data_2007])

In [6]:
data.shape

(4194300, 9)

In [7]:
data.head(5)

  Ampl, Re  (NWC) phase, Re (NWC)  ...  phase, Re (JJY)                     Date
0           38.91          162.14  ...           124.08    23:59:00.00  31/07/04
1           38.91          150.82  ...           124.08    23:59:00.00  31/07/04
2            38.4          152.02  ...           124.23    23:59:00.00  31/07/04
3           38.71          172.66  ...           124.08    23:59:00.00  31/07/04
4           39.19          177.88  ...           124.08    23:59:00.00  31/07/04

[5 rows x 9 columns]

In [8]:
data.to_csv('/content/drive/MyDrive/cleaned_data/combined.csv')

In [9]:
demo=pd.read_csv('/content/drive/MyDrive/cleaned_data/combined.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,2,3,4,5,6,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:
demo[:3600000]

         Unnamed: 0 Ampl, Re  (NWC)  ...  phase, Re (JJY)                     Date
0                 0           38.91  ...           124.08    23:59:00.00  31/07/04
1                 1           38.91  ...           124.08    23:59:00.00  31/07/04
2                 2            38.4  ...           124.23    23:59:00.00  31/07/04
3                 3           38.71  ...           124.08    23:59:00.00  31/07/04
4                 4           39.19  ...           124.08    23:59:00.00  31/07/04
...             ...             ...  ...              ...                      ...
3599995         670     44.02\t-175  ...              NaN     23:59:00.00\t8/11/07
3599996         671     43.81\t127.  ...              NaN     23:59:00.00\t8/11/07
3599997         672     43.68\t94.6  ...              NaN     23:59:00.00\t8/11/07
3599998         673     43.29\t36.5  ...              NaN     23:59:00.00\t8/11/07
3599999         674     44.27\t45.1  ...              NaN     23:59:00.00\t8/11/07

[3600000 rows x 10 columns]