<a href="https://colab.research.google.com/github/sprabhala-cpu/Machine-Learning/blob/main/temperature%20prediction%20random%20forest_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#probelm 
'''
predicting max weather temp 
this is a supervised regression ml problem
its supervised because we have data of city and temp(target label)
we give data nad labels and random forest should map the data od aprediction
this is regrssion as the tasrget variable is continuous
classfication if target variable is discrete'''

'\npredicting max weather temp \nthis is a supervised regression ml problem\nits supervised because we have data of city and temp(target label)\nwe give data nad labels and random forest should map the data od aprediction\nthis is regrssion as the tasrget variable is continuous\nclassfication if target variable is discrete'

In [5]:
import pandas as pd
data=pd.read_csv('/content/temps.csv')

In [8]:
+data

     year  month  day  ... forecast_acc  forecast_under  friend
0    2016      1    1  ...           50              44      29
1    2016      1    2  ...           50              44      61
2    2016      1    3  ...           46              47      56
3    2016      1    4  ...           48              46      53
4    2016      1    5  ...           46              46      41
..    ...    ...  ...  ...          ...             ...     ...
343  2016     12   27  ...           50              47      47
344  2016     12   28  ...           49              44      58
345  2016     12   29  ...           50              45      65
346  2016     12   30  ...           46              44      42
347  2016     12   31  ...           48              47      57

[348 rows x 12 columns]

In [13]:
drop_list=['forecast_noaa','forecast_acc','forecast_under']
for item in drop_list:
  del data[item]

In [14]:
data

     year  month  day   week  temp_2  temp_1  average  actual  friend
0    2016      1    1    Fri      45      45     45.6      45      29
1    2016      1    2    Sat      44      45     45.7      44      61
2    2016      1    3    Sun      45      44     45.8      41      56
3    2016      1    4    Mon      44      41     45.9      40      53
4    2016      1    5   Tues      41      40     46.0      44      41
..    ...    ...  ...    ...     ...     ...      ...     ...     ...
343  2016     12   27   Tues      42      42     45.2      47      47
344  2016     12   28    Wed      42      47     45.3      48      58
345  2016     12   29  Thurs      47      48     45.3      48      65
346  2016     12   30    Fri      48      48     45.4      57      42
347  2016     12   31    Sat      48      57     45.5      40      57

[348 rows x 9 columns]

In [ ]:
#checking for statistics
data.describe()

In [16]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sns.boxplot(x='actual',data=data)

In [24]:
#one hot encoding
''' convert all categorical data into numerical encoding
we can see week is categorical so apply one hot enconding on it'''

' convert all categorical data into numerical encoding\nwe can see week is categorical so apply one hot enconding on it'

In [26]:
data=pd.get_dummies(data)

In [29]:
data.iloc[:,:].head(5)

   year  month  day  temp_2  ...  week_Sun  week_Thurs  week_Tues  week_Wed
0  2016      1    1      45  ...         0           0          0         0
1  2016      1    2      44  ...         0           0          0         0
2  2016      1    3      45  ...         1           0          0         0
3  2016      1    4      44  ...         0           0          0         0
4  2016      1    5      41  ...         0           0          1         0

[5 rows x 15 columns]

In [30]:
data.shape

(348, 15)

In [31]:
#we need to seperate features and targets,the target is label
#seperate features and labels
#convert features to numpy arrays

In [32]:
import numpy as np
#labels are the values we want to predict
label=np.array(data['actual'])
#remove label from and make features
features=data.drop('actual',axis=1)

In [37]:
featureslist=list(features.columns)
features=np.array(features)

In [38]:
#we have features and labels seperated and converted to arrays
'''now we have to split into training and testing'''
#we are using random split
from sklearn.model_selection import train_test_split
#split the data into training and testing
train_features,test_features,train_labels,test_labels=train_test_split(features,label,test_size=0.25,random_state=42)

In [41]:
train_features.shape
train_labels.shape

(261,)

In [43]:
train_features[:5]

array([[2.016e+03, 9.000e+00, 1.900e+01, 6.800e+01, 6.900e+01, 6.970e+01,
        8.800e+01, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00],
       [2.016e+03, 4.000e+00, 1.400e+01, 6.000e+01, 5.900e+01, 5.810e+01,
        6.600e+01, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00,
        0.000e+00, 0.000e+00],
       [2.016e+03, 7.000e+00, 3.000e+01, 8.500e+01, 8.800e+01, 7.730e+01,
        7.000e+01, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00],
       [2.016e+03, 5.000e+00, 1.500e+01, 8.200e+01, 6.500e+01, 6.470e+01,
        5.800e+01, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00],
       [2.016e+03, 1.000e+00, 1.800e+01, 5.400e+01, 5.000e+01, 4.750e+01,
        5.800e+01, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00]])

In [44]:
#create a baseline
baseline_pred=test_features[:,featureslist.index('average')]
#baseline errors:
baseline_errors=abs(baseline_pred-test_labels)

In [49]:
#average error is
print(np.round(np.mean(baseline_errors),2))

5.06

In [50]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor(n_estimators=1000,random_state=42)
#train the model
rf.fit(train_features,train_labels)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [52]:
predictions=rf.predict(test_features)
#calculate the erroes
errors=abs(predictions-test_labels)

In [53]:
print(np.mean(errors))

3.834172413793103

In [54]:
#determine performance metrics
from sklearn.tree import export_graphviz
import pydot
tree=rf.estimators_[5]

export_graphviz(tree,out_file='tree.dot',feature_names=featureslist,rounded=True,precision=1)

In [57]:
(graph, )=pydot.graph_from_dot_file('tree.dot')

In [58]:
graph.write_png('tree.png')

In [59]:
importance=list(rf.feature_importances_)

In [60]:
importance

[0.0,
 0.012910007020193279,
 0.02507829851159685,
 0.024958570238798047,
 0.6922003548569725,
 0.1973132322767287,
 0.02547392256359543,
 0.004862509464027607,
 0.0028504676264593416,
 0.004331592232729278,
 0.0029097947412191575,
 0.0015622506795637985,
 0.0028675008418274062,
 0.00268149894628859]

In [63]:
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(featureslist, importance)]

In [64]:
feature_importances

[('year', 0.0),
 ('month', 0.01),
 ('day', 0.03),
 ('temp_2', 0.02),
 ('temp_1', 0.69),
 ('average', 0.2),
 ('friend', 0.03),
 ('week_Fri', 0.0),
 ('week_Mon', 0.0),
 ('week_Sat', 0.0),
 ('week_Sun', 0.0),
 ('week_Thurs', 0.0),
 ('week_Tues', 0.0),
 ('week_Wed', 0.0)]