<a href="https://colab.research.google.com/github/sprabhala-cpu/Machine-Learning/blob/main/temperature_prediction_with_various_models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
'''
data workflow
10 steps
1)state the question and determine what data you want
2)get the data
3)identify correct ,missing or anomalies in data(exploaration)
4)prepare the data for machine learning (data cleaningor data wrangling)
5)establish a baseline mode
6)train the model on training data
7)test the model on testing data
8)calculate performance metrics
9)hyper parameter tunning if model is good or try different one
10)interpret model and report results visaullay and numerically'''

'\ndata workflow\n10 steps\n1)state the question and determine what data you want\n2)get the data\n3)identify correct ,missing or anomalies in data(exploaration)\n4)prepare the data for machine learning (data cleaningor data wrangling)\n5)establish a baseline mode\n6)train the model on training data\n7)test the model on testing data\n8)calculate performance metrics\n9)hyper parameter tunning if model is good or try different one\n10)interpret model and report results visaullay and numerically'

In [40]:
''' i am using data from kaggle
 https://www.kaggle.com/budincsevity/szeged-weather'''

' i am using data from kaggle\n https://www.kaggle.com/budincsevity/szeged-weather'

In [41]:
import pandas as pd
data=pd.read_csv('/content/weatherHistory.csv')

In [42]:
data['Precip Type'].unique()

array(['rain', 'snow', nan], dtype=object)

In [43]:
data.columns

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

In [44]:
data.shape

(96453, 12)

In [45]:
data.describe()

       Temperature (C)  ...  Pressure (millibars)
count     96453.000000  ...          96453.000000
mean         11.932678  ...           1003.235956
std           9.551546  ...            116.969906
min         -21.822222  ...              0.000000
25%           4.688889  ...           1011.900000
50%          12.000000  ...           1016.450000
75%          18.838889  ...           1021.090000
max          39.905556  ...           1046.380000

[8 rows x 8 columns]

In [46]:
#are there any null colums
data.isnull().sum()#we can see precip type has null vlaues lets explore deep

Formatted Date                0
Summary                       0
Precip Type                 517
Temperature (C)               0
Apparent Temperature (C)      0
Humidity                      0
Wind Speed (km/h)             0
Wind Bearing (degrees)        0
Visibility (km)               0
Loud Cover                    0
Pressure (millibars)          0
Daily Summary                 0
dtype: int64

In [47]:
data['Precip Type'].unique()

array(['rain', 'snow', nan], dtype=object)

In [48]:
data['Precip Type'].value_counts()

rain    85224
snow    10712
Name: Precip Type, dtype: int64

In [49]:
#we can remove the rows where preceip type is null ,but we can see from above that
#there is high chance of rain in those so i will replace nan with rain

In [50]:
data['Precip Type'].fillna('rain',inplace=True)

In [51]:
data['Precip Type'].unique()

array(['rain', 'snow'], dtype=object)

In [52]:
data['Precip Type'].value_counts()

rain    85741
snow    10712
Name: Precip Type, dtype: int64

In [57]:
data=pd.get_dummies(data,columns=['Precip Type'])

In [60]:
data

                      Formatted Date  ... Precip Type_snow
0      2006-04-01 00:00:00.000 +0200  ...                0
1      2006-04-01 01:00:00.000 +0200  ...                0
2      2006-04-01 02:00:00.000 +0200  ...                0
3      2006-04-01 03:00:00.000 +0200  ...                0
4      2006-04-01 04:00:00.000 +0200  ...                0
...                              ...  ...              ...
96448  2016-09-09 19:00:00.000 +0200  ...                0
96449  2016-09-09 20:00:00.000 +0200  ...                0
96450  2016-09-09 21:00:00.000 +0200  ...                0
96451  2016-09-09 22:00:00.000 +0200  ...                0
96452  2016-09-09 23:00:00.000 +0200  ...                0

[96453 rows x 13 columns]

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Temperature (C)           96453 non-null  float64
 3   Apparent Temperature (C)  96453 non-null  float64
 4   Humidity                  96453 non-null  float64
 5   Wind Speed (km/h)         96453 non-null  float64
 6   Wind Bearing (degrees)    96453 non-null  float64
 7   Visibility (km)           96453 non-null  float64
 8   Loud Cover                96453 non-null  float64
 9   Pressure (millibars)      96453 non-null  float64
 10  Daily Summary             96453 non-null  object
 11  Precip Type_rain          96453 non-null  uint8
 12  Precip Type_snow          96453 non-null  uint8
dtypes: float64(8), object(3), uint8(2)
memory usage: 8.3+ MB

In [64]:
weather_df_num=data[list(data.dtype[data.dtypes!='object'].index)]

AttributeError: ignored

In [70]:
weather_num=[]
for col in data.columns:
  if data[col].dtype!='object':
    weather_num.append(col)
  else:
    pass
weather_num=data[weather_num]

In [72]:
weather_y=weather_num['Temperature (C)'].copy()
waether_x=weather_num.drop('Temperature (C)',axis=1)

In [74]:
waether_x

       Apparent Temperature (C)  Humidity  ...  Precip Type_rain  Precip Type_snow
0                      7.388889      0.89  ...                 1                 0
1                      7.227778      0.86  ...                 1                 0
2                      9.377778      0.89  ...                 1                 0
3                      5.944444      0.83  ...                 1                 0
4                      6.977778      0.83  ...                 1                 0
...                         ...       ...  ...               ...               ...
96448                 26.016667      0.43  ...                 1                 0
96449                 24.583333      0.48  ...                 1                 0
96450                 22.038889      0.56  ...                 1                 0
96451                 21.522222      0.60  ...                 1                 0
96452                 20.438889      0.61  ...                 1                 0

[96453 rows x 9 columns]

In [75]:
#we are building a supervised model as we have set of features and set of labels
#and this is regression as our targert variable is continuous

In [79]:
from sklearn.model_selection import train_test_split
x_train,x_label,y_train,y_test=train_test_split(waether_x,weather_y,test_size=0.25,random_state=42)

In [90]:
print(x_train.shape)
print(x_label.shape)
print(y_train.shape)
print(y_test.shape)

(72339, 9)
(72339,)
(24114, 9)
(24114,)

In [120]:
#we should scale the inputs features but for now i am continuing 
#linear regression
from sklearn.linear_model import LinearRegression
lr=LinearRegression(normalize=True,n_jobs=10000)
lr.fit(x_train,x_label)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=10000, normalize=True)

In [121]:
lr.score(x_train,x_label)

0.990118792724296

In [122]:
predictions=lr.predict(y_train)

In [123]:
import numpy as np
np.mean((predictions-y_test)**2)

0.9003358973039952

In [124]:
pd.DataFrame({'actual':y_test,
              'predict':predictions,
              'diff':(predictions-y_test)})

          actual    predict      diff
87206  28.122222  28.117292 -0.004930
33421  10.000000   9.594632 -0.405368
6807   14.400000  15.167839  0.767839
37340   1.016667   0.103695 -0.912971
3016   -0.122222  -0.233341 -0.111119
...          ...        ...       ...
18259  15.155556  15.988473  0.832917
78037  10.294444  10.831534  0.537090
87257  19.011111  19.216662  0.205551
33966   7.777778   7.152588 -0.625189
35323  17.777778  18.610467  0.832689

[24114 rows x 3 columns]

In [107]:
predictions.shape

(72339,)

In [125]:
#decision tree
from sklearn.tree import DecisionTreeRegressor
dtr=DecisionTreeRegressor(random_state=42)

In [126]:
dtr.fit(x_train,x_label)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=42, splitter='best')

In [128]:
dtr.score(y_train,y_test)

0.9999385555673553

In [135]:
y_train

       Apparent Temperature (C)  Humidity  ...  Precip Type_rain  Precip Type_snow
87206                 28.827778      0.53  ...                 1                 0
33421                  7.988889      0.83  ...                 1                 0
6807                  14.400000      0.65  ...                 1                 0
37340                 -2.722222      0.85  ...                 1                 0
3016                  -2.672222      0.82  ...                 0                 1
...                         ...       ...  ...               ...               ...
18259                 15.155556      0.62  ...                 1                 0
78037                 10.294444      0.74  ...                 1                 0
87257                 19.011111      0.67  ...                 1                 0
33966                  5.044444      0.83  ...                 1                 0
35323                 17.777778      0.56  ...                 1                 0

[24114 rows x 9 columns]

In [131]:
np.mean((pred-y_test)**2)

0.005625224627463819

In [133]:
pd.DataFrame({'actual':y_test,
              'predict':pred,
              'diff':round((pred-y_test),2)})

          actual    predict  diff
87206  28.122222  28.027778 -0.09
33421  10.000000  10.000000  0.00
6807   14.400000  14.400000 -0.00
37340   1.016667   0.972222 -0.04
3016   -0.122222  -0.088889  0.03
...          ...        ...   ...
18259  15.155556  15.155556  0.00
78037  10.294444  10.300000  0.01
87257  19.011111  19.011111  0.00
33966   7.777778   7.805556  0.03
35323  17.777778  17.777778 -0.00

[24114 rows x 3 columns]

In [141]:
from sklearn.metrics import*
r2_score(y_test,pred)

0.9999385555673552